:root {
    --color-backgroud: #243b52;
    --color-callout: #012f5e;
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


html {
font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--color-body);
    
}
